/* Reference: https://developers.google.com/maps/documentation/javascript/overview#maps_map_simple-css */

#map {
    height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#car {
    width: 30px;
    height: 70px;
    top: 50%;
    left: 50%;
    position: absolute;
    background-image: url("car.png");
    background-repeat: no-repeat;
}