@media (min-device-width:1200px) {
    .homer {
        height: 125px;
        width: 166px;
        background-image: url("homer.jpg");
        background-repeat: no-repeat;
    }
}

@media (min-device-width:1100px) and (max-device-width:1200px) {
    .homer {
        height: 125px;
        width: 166px;
        background-image: url("homer.jpg");
        background-position: -166px 0;
        background-repeat: no-repeat;
    }
}

@media (min-device-width:1000px) and (max-device-width:1100px) {
    .homer {
        height: 125px;
        width: 166px;
        background-image: url("homer.jpg");
        background-position: 0 -125px;
        background-repeat: no-repeat;
    }
}

@media (min-device-width:900px) and (max-device-width:1000px) {
    .homer {
        height: 125px;
        width: 166px;
        background-image: url("homer.jpg");
        background-position: -166px -125px;
        background-repeat: no-repeat;
    }
}

@media (min-device-width:800px) and (max-device-width:900px) {
    .homer {
        height: 125px;
        width: 166px;
        background-image: url("homer.jpg");
        background-position: 0 -250px;
        background-repeat: no-repeat;
    }
}

@media (min-device-width:700px) and (max-device-width:800px) {
    .homer {
        height: 125px;
        width: 166px;
        background-image: url("homer.jpg");
        background-position: -166px -250px;
        background-repeat: no-repeat;
    }
}

@media (min-device-width:600px) and (max-device-width:700px) {
    .homer {
        height: 125px;
        width: 166px;
        background-image: url("homer.jpg");
        background-position: 0 -375px;
        background-repeat: no-repeat;
    }
}

@media (max-device-width:600px) {
    .homer {
        height: 125px;
        width: 166px;
        background-image: url("homer.jpg");
        background-position: -166px -375px;
        background-repeat: no-repeat;
    }
}